$ cat .gitignore
#Whitelist
/*
/config/worldedit/schematics
/scripts/.zsrc

#Folders
!/bansoukou/
!/config/
!/patchouli_books
!/resources
!/oresources
!/scripts
!/structures

#Files
!/.gitignore
!/README.md
!/PlanAndProgress.md

# This is a part of the modpack!
!/Title.txt

scripts/.VSCodeCounter/
resources/crafttweaker/lang/.VSCodeCounter/
