$ cat .gitignore
#Whitelist
/*
/config/worldedit/schematics
/config/journeymap_ModInfo.cfg
/scripts/generated

#Folders
!/bansoukou/
!/config/
!/patchouli_books
!/resources
!/oresources
!/scripts
!/structures
!/ModWatcher

#Files
!/.gitignore
!/README.md
!/PlanAndProgress.md

# This is a part of the modpack!
!/Title.txt

scripts/.VSCodeCounter/
resources/crafttweaker/lang/.VSCodeCounter/
scripts/.brackets.zs
scripts/.d.zs
config/triumph/documentation/
config/triumph/script/triumph/example/
ModWatcher/stage/*.jar.disabled

# Unused configs
config/jei/worldSettings.cfg
config/splash.properties
config/time.history
config/loliasm/methods-stable_39.csv
