# Configuration file

general {
    # Enable this only for debug purposes.
    B:DEBUG=false

    # Keep it as "Default" and DON'T TOUCH
    S:WorkingMode=Blessed

    # Give Roukan Senpurin (Thaumcraft Compat) a crafting table recipe and no need for advancement & TC Research.
    B:alterRecipeRoukanXF=true

    # Damage Types that player can bypass Stylish Rank drop when get these types of damage.
    S:bypassDamageTypes <
        inFire
        onFire
        wither
        magic
        indirectMagic
     >

    # Time length between player updates Stylish Rank points last time and player get damaged (under EASY difficulty.). Integer, "tick" as unit.
    I:stylishRankDropTimeEasy=120

    # Time length between player updates Stylish Rank points last time and player get damaged (under HARD difficulty.). Integer, "tick" as unit.
    I:stylishRankDropTimeHard=100

    # Time length between player updates Stylish Rank points last time and player get damaged (under NORMAL difficulty.). Integer, "tick" as unit.
    I:stylishRankDropTimeNormal=80
}


