# Configuration file

debug {
    # Enable this for debugging purpose
    B:Debug=false
}


general {
    # Format: <Mob A's ID>;<Mob B's ID>;[isMutual, true or false, optional]. Example: minecraft:zombie;minecraft:skeleton;false will make zombie friendly to skeleton, but not vise versa. minecraft:creeper;minecraft:zombie;true will make creeper and zombie not attack each other.
    S:FriendlyMobList <
        minecraft:villager;minecraft:villager
        
        minecraft:ender_dragon;minecraft:enderman
        minecraft:ender_dragon;specialmobs:blindingenderman
        minecraft:ender_dragon;specialmobs:icyenderman
        minecraft:ender_dragon;specialmobs:lightningenderman
        minecraft:ender_dragon;specialmobs:minienderman
        minecraft:ender_dragon;specialmobs:mirageenderman
        minecraft:ender_dragon;specialmobs:specialenderman
        minecraft:ender_dragon;specialmobs:thiefenderman
     >
}


