# Configuration file

~CONFIG_VERSION: 2.0

##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Client-only configuration
##########################################################################################################

client {
    # Whether or not to allow a custom player model for the mod author to be rendered. Does not affect anything else. Turn off if you have issues when looking at the author. [default: true]
    B:allowCustomSanModel=true

    # Whether or not to allow emissive textures on supported models. This is managed by Optifine instead, if installed and depends on the resource pack. [default: true]
    B:enableEmissiveTextures=true

    # The GL Texture Unit to use for the secondary sampler passed in to some of the shaders. DO NOT TOUCH THIS IF YOU DON'T KNOW WHAT YOU'RE DOING [default: 7]
    I:glSecondaryTextureUnit=7

    # Whether or not to allow splash text to be written into the window title. [default: true]
    B:setSplashTitle=true

    # Whether or not to use shaders. When disabled, some fancier rendering won't work. Only disable if there's incompatibilities with another mod! [default: true]
    B:useShaders=true
}


