# Configuration file

##########################################################################################################
# enchantment setting
#--------------------------------------------------------------------------------------------------------#
# This setting is for the enchantment.
##########################################################################################################

"enchantment setting" {
    # Enable effect of the Highway Robber Enchantment.
    B:"Enable Robber"=false

    # Enable effect of the Venom Enchantment.
    B:"Enable Venom"=true
}


##########################################################################################################
# item setting
#--------------------------------------------------------------------------------------------------------#
# This setting is for the items.
##########################################################################################################

"item setting" {
    # Set the number of days required to age the drink in a barrel.
    I:"Aging Day"=60

    # Please add block registry names you want exclude from red badge effect.
    S:"Diamond Badge Disable List" <
        minecraft:stone:32767
        minecraft:dirt:32767
        minecraft:bedrock:32767
        ModID:sampleBlock:sampleMeta
     >

    # Enable Heat Treatment Process for Metallurgy.
    B:"Enable HardMode Metallurgy"=true

    # Enable effect of Ocean Blessing potion.
    B:"Enable Ocean Potion Effect"=true

    # Enable the climate recipe for smelting the steel block.
    B:"Enable Steel Recipe"=true

    # Enable effect of Wing Blessing potion.
    B:"Enable Wing Potion Effect"=true

    # Set the shooting damage of the flower turret.
    I:"Flower Turret Damage"=60

    # Set the lifespan of the flower turret.
    I:"Flower Turret Lifespan"=60

    # Set default damage amount of guns (brass bullet).
    D:"Gun Base Damage"=12.0

    # Enable rendering effect of enchanted HaC armor at wearing.
    B:"Show Armor Enchantment Effect"=false
}


##########################################################################################################
# plugin setting
#--------------------------------------------------------------------------------------------------------#
# This setting is for plugin with the other mods.
##########################################################################################################

"plugin setting" {
    # Set the amount of conversion rate as EU/torque.
    D:"Conversion rate vs EU"=2.0

    # Set the amount of conversion rate as RF/torque.
    D:"Conversion rate vs RF"=10.0
}


##########################################################################################################
# render setting
#--------------------------------------------------------------------------------------------------------#
# This setting is for such as display and model.
##########################################################################################################

"render setting" {
}


